.card{
  border:2px solid #f80404;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6ca166;
}